<section class="container-full-width">
  <div class="moderator">
    <div class="container">
      <h1 class="moderator__title">{{{content.title}}}</h1>
      <div class="moderator__detail">{{{content.detail}}}</div>
      <div class="moderator__action">
        <a href="{{content.actionLink}}" class="moderator__action-viewall">
          <button class="ubuntu-large ubuntu--regular">{{content.actionName}}</button>
        </a>
      </div>
    </div>
  </div>
</section>
