<section class="container-full-width">
  <div class="moving-forward section-arrow-up-grey js-highlight-section" id="overview">
    <div class="container">
      <div class="moving-forward__detail">
        <h1 class="moving-forward__detail-title">{{content.title}}</h1>
        <div class="moving-forward__detail-globe"></div>
        <div class="moving-forward__detail-description">{{{content.description}}}</div>
      </div>
    </div>
  </div>
</section>
