.conference-schedule {
  background-color: $white;
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 120px 0;

  &__container {
    position: relative;
  }

  &__overview {

    &-title {
      margin-bottom: 50px;
    }

    &-sub-title {
      margin-bottom: 20px;
      color: $purple;
      margin-top: 170px;
      text-transform: capitalize;
    }

    &-venue {
      @include font-size($font-size-xlarge);

      font-family: $font-abel-regular;
      color: $purple-dark;
      margin-bottom: 25px;


    }

    &-note {
      @include font-size($font-size-large);

      font-family: $font-ubuntu-medium;
      max-width: 400px;
    }
  }

  &__details {


    &-info {
      margin-bottom: 10px;
      display: flex;

      &__text {
        padding-top: 15px;
        padding-bottom: 15px;

        &--title {
          font-family: $font-ubuntu-bold;
          position: relative;
          transform: translateY(10%);
          width: 100%;
        }

        &--duration {
          margin-top: 5px;
          color: $pink;
          display: block;
        }

        &--description {
          margin-top: 10px;
          width: 100%;
        }

        &--registration,
        &--tea-break {
          background-repeat: no-repeat;
          padding-left: 60px;
          background-position: 15px center;
        }

        &--registration {
          background-image: url($images_path + 'icon-registration.svg');
          background-size: 30px;
        }

        &--tea-break {
          background-image: url($images_path + 'icon-tea_break.svg');
          background-size: 30px;
        }
      }

      &__time {
        @include font-size($font-size-xlarge);

        font-family: $font-abel-regular;
        min-height: 65px;
        width: 160px;
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;
        flex: 0 0 auto;
        flex-wrap: wrap;
        margin: 0 15px;

        &--grey {
          background-color: $grey-light;
        }

        &--pink {
          background-color: $pink;
          color: $white;
        }
      }
    }
  }

  & .nav-tabs {
    & > li {
      padding-right: 0;
      padding-left: 5px;

      & .mobile-screen-content {
        display: none;
      }

      & > a {
        font-size: $font-size-xlarge;
        font-family: $font-abel-regular;
        position: relative;
        text-decoration: none;
        padding: 10px 0;
        border: 1px solid $grey-light-2;
        border-bottom: none;
        color: $grey-light-3;
        bottom: -8px;
        text-align: center;


        &:before {
          content: " ";
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 25px;
        }
      }

      &.active {
        & > a {
          @extend h5;

          padding: 15px 0;
          bottom: 0;
          pointer-events: none;
        }
      }

      &:first-child {
        & > a {
          &:before {
            background-color: $magenta;
          }
        }
      }

      &:nth-child(2) {
        & > a {
          &:before {
            background-color: $blue-light;
          }
        }
      }

      &:last-child {
        margin-right: 0;

        & > a {
          &:before {
            background-color: $orange;
          }
        }
      }
    }
  }

  & .tab-content {
    padding-top: 100px;
    border-top: 1px solid $grey-light-2;
    margin-top: -1px;
    background-color: $white;
  }

  @media #{$media-desktop} {
    & .nav-tabs {
      & > li {
        & > a {
          transition: background-color 0.2s;
        }
      }
    }
  }

  @media #{$media-screen-tablet} {
    & .nav-tabs {
      & > li {
        & > a {
          font-size: $font-size-large;
          transition: background-color 0.2s;
          bottom: -4px;
        }

        &.active {
          & > a {
            font-size: $font-size-large;
            padding: 15px 0;
            bottom: 0;
            pointer-events: none;
          }
        }
      }
    }

    &__details {
      &-info {
        &__text {
          padding-top: 105px;

          &--title {
            font-family: $font-ubuntu-bold;
            top: -29px;
            position: relative;
            transform: translateY(-50%);
            width: 100%;
          }
        }
      }
    }
  }

  @media #{$media-screen-mobile} {
    padding: 0 0 50px 0;

    &__overview {
      &-title {
        text-align: left;
      }

      &-sub-title {
        margin-top: 50px;
      }

      &-venue {
        margin-left: 15px;
      }
    }

    & .tab-content {
      display: none;
    }

    & .nav-tabs {
      & > li {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 55px;
        padding-left: 0px;
        margin-bottom: unset;

        & .mobile-screen-content {
          display: block;

          & .conference-schedule__overview {
            margin-top: 20px;

            & .conference-schedule__overview-sub-title {
              margin-top: 0px;
            }
          }
        }

        & > a {
          width: 100%;
          height: 55px;
          bottom: unset;
          text-align: left;
          line-height: $line-height-content;
          padding-left: 30px;
          border-radius: 0px;
          border-right: none;
          border-bottom: 1px solid $grey-light;

          &:before {
            width: 15px;
          }

          &:after {
            content: " ";
            position: absolute;
            width: 25px;
            height: 25px;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            background-image: url($images_path + 'icon-plus.svg');
            background-repeat: no-repeat;
            background-color: $grey-light-6;
            background-size: 80%;
            background-position: center;
          }

          &:active,
          &:hover,
          &:focus {
            background-color: $white;
          }
        }

        &.active {
          height: auto;

          & > a {
            padding-left: 30px;
            pointer-events: all;
            background-color: $white;
            border-bottom: 1px solid $grey-light;
            border-right: none;

            &:after {
              background-image: url($images_path + 'icon-minus.svg');
            }
          }
        }
      }

      &__title {
        font-size: $font-size-xlarge;
        font-family: $font-abel-regular;
        font-weight: 400;
        color: $black;
      }
    }

    &__details {
      margin-top: 50px;
      padding-left: 30px;
      padding-right: 30px;

      &-info {
        display: block;

        &__time {
          width: 100%;
          justify-content: center;
          margin: 0;
        }

        &__text {
          &--title {
            transform: unset;
          }
        }
      }
    }
  }
}
