.term-condition {
  margin: 100px 0;

  &__header {
    margin-bottom: 30px;

    &-masthead {
      &__image {
        text-align: center;
      }
    }
  }

  &__content {
    &-title {
      padding: 5px 0;
    }
  }

  @media #{$media-screen-mobile} {
    margin-top: 30px;

    &__header {
      margin-bottom: 0px;

      &-masthead {
        margin-top: 0px;
      }
    }
  }
}
