---
layout: default.hbs
isWhiteBackgroundHeader: true
isWhiteBackgroundFooter: true
showBrandPartnerBlock: true
---

<section class="container-full-width">
  <div class="speaker-detail">
    <div class="container">
      <div class="row">
        <div class="col-md-11 col-md-offset-1">
          {{> speaker-detail content=contents}}
        </div>
      </div>
    </div>
  </div>
</section>
