<div class="about-masthead {{#if isMobile}}about-masthead--mobile{{/if}}">
  <div class="about-masthead__wrapper {{#if isMobile}}about-masthead__wrapper--mobile{{else}}about-masthead__wrapper--desktop{{/if}}">
    <img class="about-masthead__image" src="{{config.asset_url}}about-masthead.png">
  </div>
</div>
