<section class="container-full-width">
  <div class="past-events">
    <div class="container">
      <div class="row">
        {{> past-events-item data=pastEvents.firstRow}}
      </div>

      <div class="row">
        {{> past-events-item data=pastEvents.secondRow}}
      </div>
    </div>
  </div>
</section>
